certifi==2025.4.26
charset-normalizer==3.4.2
coverage==7.9.0
dependency-injector==4.47.1
idna==3.10
iniconfig==2.1.0
numpy==2.3.0
packaging==25.0
pandas==2.3.0
pluggy==1.6.0
pybit==5.11.0
pycryptodome==3.23.0
Pygments==2.19.1
pytest==8.4.0
pytest-cov==6.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
websocket-client==1.8.0
